.footer-block {
  position: fixed;
  bottom: 0;

  width: 100%;
  padding: 24px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;

  color: var(--primary-text);
  background-color: #E9E9E9;
}

.footer-block span {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .footer-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    bottom: 19%;
  }

  .closed-footer {
    bottom: 0 !important;
  }
}