.page-block {
  box-sizing: border-box;
  background-color: var(--bg-color);
}

.page-block > * {
  padding: 0px 15%;
}

.page-catalog {
  box-sizing: border-box;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;

  background: var(--bg-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-top: 1px solid var(--gradient-1); 
}

.page-catalog span {
  font-weight: 700;
  font-size: 28px;
}

.page-catalog-decor {
  width: 34px;
  height: 4px; 
  border-radius: 10px;
  background: linear-gradient(
    90deg, var(--gradient-2) 0%,
    var(--gradient-1) 100%
  );
}

.page-results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  height: calc(100vh - 320px);
}

.page-results > span {
  padding: 35px 0px 20px 0px;
  font-weight: 600;
  font-size: 24px;
  color: var(--primary-text);
}

.page-results-family {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .closed-page {
    height: calc(100vh - 240px);
  }
}

@media screen and (max-width: 500px) {
  .page-results > span {
    font-size: 20px;
    padding: 25px 0px 10px 0px;
  }

  .page-catalog {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-catalog span {
    font-size: 24px;
  }

  .closed-page {
    height: calc(100vh - 275px);
  }
}